<div class="row">
	<div class="span7 offset1">
		<h2> Academic Projects &amp; Pursuits: </h2>
		<dl>
			<dt> 
					<a href="http://history108-fall13.neocities.org/notes.html">Lecture Notes: Early American History</a>
			</dt>
			<dd>
				Lecture notes covering US history from initial settling of the new world until the American Civil War. (Fall 2013, Cuyamaca College)
			</dd>
		</dl>
	</div>
</div>