<h2 id="nav"><a href="/">Home</a> &gt; Posts</h2>
<dl>
	<dt><a href="/exxon/?">
	Matlab Project: Exxon-Mobil Oil Spill Simulation</a></dt>
	<dd>Showing off my Matlab class final project, showing how wind might have spread oil in the Exxon-Mobil spill.</dd>
	<!-- -->
	<dt><a href="/ruby2c2fortran/?">
	Interfacing Ruby with Fortran</a></dt>
	<dd>An example showing how to call a Fortran procedure from a Ruby program (via C.) Written in July 2012.</dd>
	<!-- -->
	<dt><a href="/rubyboot/?">
	Installing Ruby with RVM [Outdated]</a></dt>
	<dd>A guide to installing Ruby on Linux using RVM, a Ruby version manager. Written for Ruby 1.9.3 in July 2012. </dd>
</dl>