<div class="hero-unit">
	<h1> Cameron's Codeblog</h1>
	<p>
		Just a place to share things related to programming, engineering, and whatever else. I work mostly on Linux command-line apps that I find useful and Ruby or Javascript web applications.
	</p>
	<hr />
	<h6> Recent Stuff: </h6>
	<ul>
		<li> 
			<a class="btn btn-large" href="http://history108-fall13.neocities.org/notes.html">
				Lecture Notes: Early American History
			</a> 
		</li>
	</ul>

</div>

<div class="row">
	<div class="span6">
		<h2> Projects: </h2>
		<dl>
			<dt> <a href="/projects/exxon"> Exxon-Valdez Spill Simulation</a></dt>
			<dd> A rudimentary simulation of the 1989 Exxon-Valdez oil spill. [Matlab]</dd>
		</dl>
	</div>
	<div class="span6">
		<h2> Academic Interests: </h2>
		<p>
			Computers, software, engineering. Pursuing mechanical engineering bachelors and who knows what, after.
			I've had an interest in nanotechnology but am only just recently getting some of the chemical and materials knowledge to read about it.
		</p>
		<br />
	</div>
</div>