<div class="hero-unit">
	<h1> Reflections on Code</h1>
	<p>
		A code blog to share experiences, techniques, and solutions to problems that I've come across in programming practice.
	</p>
	<hr />
	<h6> By Language: </h6>
	<ul>
		<li> 
			<a class="btn btn-large" href="/log/ruby">
				Ruby
			</a>
			<a class="btn btn-large" href="/log/fortran">
				Fortran
			</a> 
			<a class="btn btn-large" href="/log/matlab">
				Matlab
			</a>
			<a class="btn btn-large" href="/log/misc">
				Miscellaneous
			</a>  
		</li>
	</ul>

</div>

<div class="row">
	<div class="span6">
		<h2> Projects: </h2>
		<p>
			A selection of projects that I'm proud of or want to share with the world. All posted code is open-source and free for everyone to use and modify.
		</p>
		<dl>

			<dt> <a href="/projects/exxon"> Exxon-Valdez Spill Simulation</a></dt>
			<dd> A rudimentary simulation of the 1989 Exxon-Valdez oil spill. [Matlab]</dd>

			<dt> <a href="/projects"> View All</a></dt>
			<dd> All of my public projects in a menagerie of languages and frameworks.</dd>
		</dl>
	</div>
	<div class="span6">
		<h2> Academic Interests: </h2>
		<p>
			After spending a few years pursuing a CS/IS degree, I'm left with an affinity for computer technology and a dream of being an engineer. I'm currently attending Grossmont & Cuyamaca colleges and hoping to transfer into chemical engineering or engineering physics.
		</p>

		<br />
		(Pending something cool enough to share.)
	</div>
</div>