<div class="row">
	<div class="span7 offset1">
		<h2> Matlab Articles: </h2>
		<dl>

			<dt> 
				<a href="">
					Pending something worth posting.
				</a>
			</dt>
			<dd>
				
			</dd>

			<dt>
				<a href="">
					
				</a>
			</dt>
			<dd>
			</dd>

		</dl>
	</div>

	<div class="span2 well offset1">
		Other Languages:
		<hr />
		<ul>
			<li><a href="/log/ruby"> Ruby </a></li>
			<li><a href="/log/fortran"> Fortran </a></li>
			<li> Matlab </li>
			<li><a href="/log/misc"> Miscellaneous </a></li>
		</ul>

	</div>
</div>