<div class="row">
	<div class="span7 offset1">
		<h2> My Projects: </h2>
		<dl>

			<dt> 
					<a href="/projects/exxon">
						Exxon-Valdez Oil Spill Simulation
					</a>
			</dt>
			<dd>
				A Matlab class project which simulates and displays oil spill, evaporation and propogation over a hypothetical ocean field.
			</dd>

			<dt>
				<a href="">
					
				</a>
			</dt>
			<dd>
			</dd>

		</dl>
	</div>

	<div class="span2 well offset1">
	</div>
</div>