<div class="row">
	<div class="span7 offset1">
		<h2> Ruby Articles: </h2>
		<dl>

			<dt>
				<a href="/log/ruby/ruby2c2fortran">
					Ruby/C/Fortran Interoperation
				</a>
			</dt>
			<dd>
				Example showing how to call Fortran routines from Ruby scripts by interfacing through C. <br />
				(July 3, 2012.)
			</dd>

			<dt> 
				<a href="/log/ruby/rubyboot">
					Ruby on RVM Install Reference [1.9.3, Fedora 17]
				</a>
			</dt>
			<dd>
				A fast, no-frills guide to installing Ruby 1.9.3 on RVM in Linux. <br />
				(July 3, 2012.)
			</dd>

		</dl>
	</div>

	<div class="span2 well offset1">
		Other Languages:
		<hr />
		<ul>
			<li>Ruby</li>
			<li><a href="/log/fortran"> Fortran </a></li>
			<li><a href="/log/matlab"> Matlab </a></li>
			<li><a href="/log/misc"> Miscellaneous </a></li>
		</ul>

	</div>
</div>